@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Configurações gerais da Página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Classe atribuída a mais de um elemento */
.center {
  text-align: center;
}

/* Estilos da Navbar */
.navbar-container {
  display: flex;
  height: 80px;
  background: linear-gradient(to bottom, #005168, #017fc0);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8em;
  margin: 20px;
  font-weight: bold;
  color: #b3d7d8;
}

.navbar-items {
  margin: 10px;
  color: #b3d7d8;
  transition: background 500ms ease;
}

.navbar-items:hover {
  text-decoration: underline;
  color: #c4ede9;
}

/* Estilos da parte de produtos */
.products-title {
  font-size: 2.2em;
  margin-top: 5vh;
  color: #0274a0;
}

.products-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 1000px;
}

.products {
  width: 26%;
  margin-top: 10vh;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-name {
  color: #0274a0;
  margin-bottom: 10px;
}

.products-image {
  width: 100%;
  border-radius: 20px;
}

.btn-buy {
  background: #007f8a;
  color: #f8d492;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  transition: background 500ms ease;
  font-size: 1.2em;
  margin-top: 10px;
}

.btn-buy:hover {
  background: #25bdcf;
}

/* Estilos do "Sobre Nós" */
.about-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-title {
  font-size: 2.3em;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 8vh;
  color: #0f2850;
}

.about-image {
  width: 100%;
  border-radius: 8px;
}

.about-us {
  width: 80%;
  margin-left: 20px;
  font-size: 1.3em;
  color: #0f2850;
}

/* Estilos do formulário de contato */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin: 100px 0 0 150px;
  width: 80%;
}

.form-title {
  text-align: center;
  background: #0b4b42;
  border-top: 4px solid #04163a;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #c4ede9;
}

.name,
.last-name {
  font-size: 1.2em;
  padding: 20px 0 10px 45px;
  color: #0f2850;
}

#user-name,
#last-name {
  font-size: 0.9em;
  border: 2px solid #192065;
  width: 80%;
  margin-left: 50px;
  padding: 10px;
  color: #0d1a87;
  font-weight: bold;
  border-radius: 5px;
}

.message {
  margin: 40px 0 0 50px;
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  border: 1px solid #192065;
  color: #0d1a87;
  font-weight: bold;
  padding: 10px 0 0 20px;
  border-radius: 5px;
}

.btn-submit {
  margin: 30px auto;
  background: #007f8a;
  border: #25bdcf;
  border-radius: 8px;
  padding: 15px 60px;
  color: #f8d492;
  font-size: 1.2em;
  transition: background 500ms ease;
}

.btn-submit:hover {
  background: #25bdcf;
  border: 2px solid #007f8a;
  cursor: pointer;
}

.footer-container {
  margin-top: 20vh;
  height: 80px;
  background: linear-gradient(to bottom, #005168, #017fc0);
  color: #b3d7d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
