@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eaeaea;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

.logo {
  font-size: 1.8em;
  margin: 20px;
  font-weight: bold;
}

.navbar-container {
  display: flex;
  height: 80px;
  background: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-items {
  margin: 10px;
}

.navbar-items:hover {
  text-decoration: underline;
  font-size: 1.3em;
  color: darkblue;
}

.products-title {
  font-size: 2.2em;
  margin-top: 5vh;
}

.products-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 1000px;
}

.products {
  width: 26%;
  margin-top: 10vh;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-name {
  color: #000;
  margin-bottom: 10px;
}

.products-image {
  width: 100%;
  border-radius: 20px;
}

.btn-buy {
  background: darkblue;
  color: #eee21f;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  transition: background 500ms ease;
  font-size: 1.2em;
  margin-top: 10px;
}

.btn-buy:hover {
  background: cornflowerblue;
}

.about-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-title {
  font-size: 2.3em;
  color: #333;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.about-image {
  width: 100%;
  border-radius: 8px;
}

.about-us {
  width: 80%;
  margin-left: 20px;
  font-size: 1.3em;
}

.footer-container {
  margin-top: 20vh;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin: 100px 0 0 150px;
  width: 80%;
}

.form-title {
  text-align: center;
  background: darkred;
  border-top: 4px solid tomato;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #eee;
}

.name,
.last-name {
  font-size: 1.2em;
  padding: 20px 0 10px 45px;
}

#user-name,
#last-name {
  font-size: 0.9em;
  border: 2px solid tomato;
  width: 80%;
  margin-left: 50px;
  padding: 10px;
}

.message {
  margin: 40px 0 0 50px;
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  border: 1px solid tomato;
  color: tomato;
  padding: 10px 0 0 20px;
}

.btn-submit {
  margin: 30px auto;
  background: tomato;
  border: 2px solid #3f0000;
  border-radius: 8px;
  padding: 15px 60px;
  color: #eee;
  font-size: 1.2em;
  transition: background 500ms ease;
}

.btn-submit:hover {
  background: #3f0000;
  border: 2px solid tomato;
  cursor: pointer;
}
